---
layout: default
redirect_from:
  - /mould/removal
  - /residential-mould-treatment
---
{% include header.html %}
<main>
    {% include top-services.html %}
    {% include about.html %}
    <!-- {% include countdown.html %} -->
    <!-- {% include portfolios.html %} -->
    <!-- {% include team_members.html %} -->
    <!-- {% include call_to_action.html %} -->
    <!-- <section class="features_teasers_wrapper pb-10 pt-30">
         <div class="container">
              <div class="row">
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/natural.png">
                           </a>
                         </div>
                        <h3>Safe and non-toxic </h3>
                        <p>We use non toxic, food grade, biodegradable bacteria and mould removal products that have been used for over 20 years and are safe for you, your kids and the planet.</p>
                   </div>
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/competitive-pricing-thumbsup.png">
                           </a>
                         </div>
                        <h3>Advanced and Affordable</h3>
                        <p>We use the most scientifically advanced mould removal & bacteria removal products. We kill mould & bacteria and don't use bleach, sodium hypochlorite or other mould cleaners. Our services are more affordable than you'd think. Contact us for a free quote.</p>
                   </div>
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/No_Germs_HACCP_logo.jpg">
                           </a>
                         </div>
                        <h3>Fully Accredited</h3>
                        <p>We are registered with the Trades Monitor & our technicians have the highest grade 'infection control' certification and we are fully insured.</p>
                   </div>
              </div>
         </div>
    </section> -->
    {% include blog_area.html %}
    <!-- {% include clients.html %} -->
</main>
