---
layout: default
---
{% include header.html %}
<main>
    {% include slider.html %}
    {% include about.html %}
    {% include services.html %}
    <!-- {% include countdown.html %} -->
    <!-- {% include portfolios.html %} -->
    {% include testimonials.html %}
    <!-- {% include team_members.html %} -->
    {% include call_to_action.html %}
    <section class="features_teasers_wrapper pb-10 pt-30">
         <div class="container">
              <div class="row">
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/natural.png">
                           </a>
                         </div>
                        <h3>Safe and non-toxic </h3>
                        <p>We use non toxic, food grade, biodegradable bacteria and mould removal products that have been used for over 20 years and are safe for you, your kids and the planet.</p>
                   </div>
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/competitive-pricing-thumbsup.png">
                           </a>
                         </div>
                        <h3>Advanced and Affordable</h3>
                        <p>We use the most scientifically advanced mould removal & bacteria removal products. We kill mould & bacteria and don't use bleach, sodium hypochlorite or other mould cleaners. Our services are more affordable than you'd think. Contact us for a free quote.</p>
                   </div>
                   <div class="feature_teaser col-xl-4 col-lg-4 col-md-6 mb-30">
                         <div class="feature-thumb">
                           <a>
                              <img alt="responsive" src="/assets/img/No_Germs_HACCP_logo.jpg">
                           </a>
                         </div>
                        <h3>Fully Accredited</h3>
                        <p>We are registered with the Trades Monitor & our technicians have the highest grade 'infection control' certification and we are fully insured.</p>
                   </div>
              </div>
         </div>
    </section>
    <section class="grey-bg pb-10 pt-40">
      <div class="container">
          <div class="row">
              <div class="col-xl-12 text-center pb-40 ">
                  <div class="section-title service-title">
                      <h2>Some of our Work</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-10 grid-item">
              <div class="portfolio-wrapper">
                  <div class="portfolio-thumb portfolio-popup">
                      <img src="{{site.baseurl}}/assets/img/portfolio/peter_spray_thumb.jpg" class="img-fluid" alt="">
                      <a href="{{site.baseurl}}/assets/img/portfolio/peter_spray.jpg" class="view"><i class="icofont-plus"></i></a>
                  </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-10 grid-item">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb portfolio-popup">
                        <img src="{{site.baseurl}}/assets/img/portfolio/mould_1_thumb.jpg" class="img-fluid" alt="">
                        <a href="{{site.baseurl}}/assets/img/portfolio/mould_1.jpg" class="view"><i class="icofont-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-30 grid-item">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb portfolio-popup">
                        <img src="{{site.baseurl}}/assets/img/portfolio/mould_2_thumb.jpg" class="img-fluid" alt="">
                        <a href="{{site.baseurl}}/assets/img/portfolio/mould_2.jpg" class="view"><i class="icofont-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-30 grid-item">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb portfolio-popup">
                        <img src="{{site.baseurl}}/assets/img/portfolio/nogerms_hygiene_1_thumb.jpg" class="img-fluid" alt="">
                        <a href="{{site.baseurl}}/assets/img/portfolio/nogerms_hygiene_1.jpg" class="view"><i class="icofont-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-30 grid-item">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb portfolio-popup">
                        <img src="{{site.baseurl}}/assets/img/portfolio/mould_3_thumb.jpg" class="img-fluid" alt="">
                        <a href="{{site.baseurl}}/assets/img/portfolio/mould_3.jpg" class="view"><i class="icofont-plus"></i></a>
                    </div>
                </div>
            </div>
      </div>
    </section>
    {% include blog_area.html %}
    <!-- {% include clients.html %} -->
</main>
