<section class="about-area grey-bg pb-20 pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mb-40">
                <div class="section-title">
                    <h2>The No Germs Difference</h2>
                </div>
                <div class="about-content">
                  <p><b>No Germs</b> specialise in safe, sanitising solutions. We work with our clients across Greater Sydney to prevent and control
harmful pathogens in critical business environments. Our best-in-class, innovative programs protect people, facilities and
brands. We offer proven and effective solutions that create safer, healthier environments that support our clients, staff
members, and customers.</p>
                  <br>
                  <p>Due to the current health crisis, we are now more passionate than ever about ensuring our community has access to safe
and effective care. Contact us today and find out how we can help protect your family in the home, as well as a wide
variety of businesses and industries.</p>
                </div>
            </div>
            <div class="col-xl-12 mb-40">
              <div class="about-content">
                <p><b>No Germs</b> offer home and commercial care through our <i>'fogging' surface service</i>, proven to kill a wide range of germs and
viruses, including MERS, norovirus (gastro) and hand foot and mouth. Our revolutionary product offers <i>30 days protection</i>
and is completely food safe, and non toxic.</p>
                <br>
                <p>If you own a business, daycare, aged care centre, restaurant or are in the health industry, please reach out to us to find
out how we can protect your staff and your customers during this health crisis.</p>
              </div>
              <div>
                <br>
                <br>
                <p><a href="/contact" class="btn">Contact us to Find out more</a><p>
              </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
