<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 mb-40">
                <div class="section-title">
                    <h2>The No Germs Difference</h2>
                </div>
                <div class="about-content">
                  <h3>We are Sydney's mould removal experts</h3>
                  <p>Effective mould removal is essential to ensure you live in a clean, healthy home. Mould is a toxic bacteria growth that is quite commonly found in residential and commercial properties throughout Sydney. Often found on walls, ceilings and even furniture and clothing. It can also be present but not seen. Moisture from rain, leaky taps or even your shower, along with changes in humidity levels plus poor ventilation stimulates mould spores to spread rapidly.</p>
                  <br>
                  <p>The team at No Germs will work to identify the source of the problem and conduct a thorough examination of the premises to determine the presence of secondary growths. Once identified we apply our effective, safe treatment using our patented technologically advanced products.<p>
                  <br>
                  <p>We are experts in mould removal.
                  We care about your health and want to ensure you have a healthy environment to live in so we will also discuss with you ways to ensure the mould is effectively managed for the long term.</p>
                  <br>
                  <p>No Germs have carefully and effectively treated thousands of residential and commercial properties since 2006.</p>
                </div>
                <div>
                  <br>
                  <br>
                  <p><a href="/contact" class="btn">Contact us to Find out more</a><p>
                </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
