<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action homepage">
                    <h3>Infection Control & Prevention of Outbreaks</h3>
                    <p><b>No Germs</b> offer home and commercial care through our <i>'fogging' service</i>, proven to kill a wide range of germs and viruses, including MERS, norovirus (gastro) and hand foot and mouth. Our revolutionary product offers up to <i>30 days protection</i> and is completely food safe, and non toxic.</p>
                    <br>
                    <p>If you own a business, daycare, aged care centre, restaurant or are in the health industry, please reach out to us to find out how we can protect your staff and your customers during this health crisis.</p>
                    <br>
                    <br>
                    <a href="/contact" class="btn">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
