<section class="service-area grey-bg pb-30 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <a href="/services"><h2>Residential Services</h2></a>
                    <p>We are Sydney's leading mould inspection, mould removal and mould remediation company.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    <div class="service-thumb">
                      <a>
                          <img src="/assets/img/service/1.jpg" alt="mould-inspection"/>
                      </a>
                    </div>
                    <h4>Mould Inspections</h4>
                    <p>A mould inspection is where we thoroughly investigate your home for mould. We pride ourselves on identifying the source of the problem so that once treated, it doesn't return.</p>
                    <a href="/services/mould-inspection">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center mb-30">
                <div class="features-wrap one">
                  <div class="service-thumb">
                    <a>
                        <img src="/assets/img/service/2.jpg" alt="mould-removal"/>
                    </a>
                  </div>
                    <h4>Mould Removal</h4>
                    <p>Mould removal usually involves No Germs applying an effective, safe and non-toxic treatment using our patented technologically advanced products. At No Germs we aim to comprehensively fix the source of the damp and mould problems so that it doesn't return</p>
                    <a href="/services/mould-removal">Read More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 text-center mb-10">
                <div class="section-title service-title">
                    <a href="/commercial"><h2>Commercial Services</h2></a>

                </div>
            </div>
            <div class="commercial col-lg-12 col-md-12 mb-30">
              <!-- <div class="service-thumb">


              </div> -->
              <h4 class="text-center"><i>Safe, Sanitizing Solutions<small> - Powered by Zoono and Zychem Technologies</small></i></h4>
              <p>No Germs work with our clients across Greater Sydney to prevent and control harmful pathogens in critical business environments. Our best-in-class, innovative programs protect people, facilities and brands. We focus on proven and effective solutions that create safer, healthier environments that support our clients and their customers.</p>

              <div class="row">
                <div class="col-lg-6 col-md-6 mb-20">
                  <h4 class="text-center">Bacteria and Microbial elimination</h4>
                  <p class="text-left">No Germs have access to and experience with best-in-class products. These products are proven to effectively control harmful pathogens in critical business environments. No Germs partners with Zoono & Zychem Technologies - lead biotech companies that have world class products.</p>
                  <a href="/commercial/bacteria-microbial-elimination">Find out more</a>
                </div>
                <div class="col-lg-6 col-md-6 mb-20">
                  <h4 class="text-center">Facility Assessments</h4>
                  <p class="text-left">We have over 30 years’ experience in the management and control of biological, chemical, and physical hazards. We are experts in helping you identify areas of potential hazard and providing recommendations to resolve them. We will provide a comprehensive written report following a thorough site inspection.</p>
                  <a href="/commercial/facility-assessments">Find out more</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-left mb-10">
                  <h4>Industry Sectors</h4>
                  <p>No Germs delivers class leading products and solutions to a wide variety of Sydney businesses. We cover industries including:
                    <ul>
                      <a href="/commercial/daycare-early-learning-centres"><li>Daycare and Early Learning Centres</li></a>
                      <a href="/commercial/food-manufacturing"><li>Food manufacturing and Preparation Facilities</li></a>
                      <a href="/commercial/food-manufacturing"><li>Commercial Kitchens</li></a>
                      <li>Aged care centres</li>
                      <li>Cool room and associated condenser units</li>
                      <li>School and Workplace Canteens</li>
                    </ul>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
