<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/healthy-home.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Create a healthy home <br>for your family </h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">We can effectively remove mould permanently from your home using only safe, proven and non-toxic methods.</p>
                            <a href="/services" class="btn" data-animation="fadeInUp" data-delay=".6s">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/mould.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Do you have mould or <br>signs of damp in your home? </h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">We will thoroughly investigate your mould, rising damp and condensation problems and provide safe and non-toxic solutions. We utilise only the most effective and proven technologies to find and fix your mould and damp problems.</p>
                            <a href="/services" class="btn" data-animation="fadeInUp" data-delay=".6s">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Is there <span>condensation</span> or<br><span>flaking paint</span> in your home?</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">We are experts in treating mould and related issues with hundreds of happy customers. We are Sydney's leading mould removal service and always seek to treat the root cause of the problem which will save you time and money.</p>
                            <a href="/reviews" class="btn" data-animation="fadeInUp" data-delay=".6s">Read our feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
