<section class="testimonial-area pt-70 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            We had a significant mould problem at our house in Ryde that was causing health problems. We had tried to deal with the mould before and paid lots of money but the mould still came back. No Germs actually came and diagnosed the root cause of the problem. Peter arranged to improve the sub floor ventilation and then treat mould with a non-toxic solution. The mould was gone and it hasn't come back. Highly recommended.
                        </div>
                        <!--  <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt=""> -->
                        <h4>Paul P.</h4>
                        <span>Ryde</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            We had an outbreak of Norovirus (gastro) among the children and carers totalling around 12 cases, and we closed the centre. I immediately contacted No Germs who responded straight away and came to treat the premises. We reopened the centre the following day and had no additional cases reported (even several weeks later).
                        </div>
                        <h4>Jeffrey Y</h4>
                        <span>Director, Happy Faces Early Learning Centre</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
