<section class="service-area pt-20 pb-30 top-service">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mb-50">
                <div class="services-box">
                    <div class="services-img">
                      <a href="/commercial/hand-sanitiser">
                          <img src="{{site.baseurl}}/assets/img/zynism-hand-sanitizer.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            <h4>Hand Sanitiser</h4>
                        </div>
                        <div class="card-text">
                          <ul>
                            <li>Kills 99.99% of Germs</li>
                            <li>Long Lasting Protection</li>
                            <li>Non Toxic</li>
                            <li>Food & Child Safe</li>
                            <li>Alcohol Free</li>
                          </ul>
                        </div>
                        <a href="/commercial/hand-sanitiser" class="btn">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                        <a href="/commercial/fogging-and-misting">
                            <img src="{{site.baseurl}}/assets/img/fogging-and-misting.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                          <h4>Nanotise Fogging Service</h4>
                        </div>
                        <div class="card-text">
                          <ul>
                            <li>UP TO 30 DAYS PROTECTION AGAINST A WIDE RANGE OF VIRUSES (INCLUDING COVID-19) AND BACTERIA, COVID-19 AND A RANGE OF </li>
                          </ul>
                        </div>
                        <a href="/commercial/fogging-and-misting" class="btn">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-50 ">
                <div class="services-box">
                    <div class="services-img">
                      <a href="/services">
                          <img src="{{site.baseurl}}/assets/img/mould-removal.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                          <h4>Mould Services</h4>
                        </div>
                        <div class="card-text">
                          <ul>
                            <li>Effective, Safe and Non-Toxic Treatment Using our Patented Technologically Advanced Products</li>
                          </ul>
                        </div>
                        <a href="/services" class="btn">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
